html {
    background: #eee;
    //background: url('https://i.imgur.com/qFtA9Vq.jpg') repeat 0 0;
}
body {
    background: white;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);

    margin: 0 auto;
    width: 900px;
    overflow-y: scroll;
    font-size: 18px;
    //font-family: Tahoma, Arial, Helvetica;
    font-family: Comic Sans, Helvetica;
}
@media (max-width: 950px) { body { width: 800px; } }
@media (max-width: 850px) { body { width: 700px; } }
@media (max-width: 750px) { body { width: 600px; } }
@media (max-width: 650px) { body { width: 100%; } }


.header {
    border-top: 1px #ccc solid;
    width: 100%;
    height: 5em;
}
@media (max-width: 650px) {
}

.header-main {
    float: left;
    width: 40%;
    height: 100%;

    display: table;
}

.header-main > div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.header-main > div > span {
    font-weight: 700;
}

.header-items {
    float: left;
    width: 60%;
    height: 100%;
}

.header-item {
    display: table;
    float: left;

    width: 25%;
    height: 100%;

    text-decoration: none;
    color: inherit;
    overflow: hidden;
}

.header-item > div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    border-bottom: 10px grey solid;
    width: 100%;
}

.header-item.active-item > div {
    border-bottom: 10px #333 solid;
    background: #ffffe6;
}

.header-item.active-item > div > span {
    font-weight: 700;
}

@media (max-width: 650px) {
    .header {
        height: auto;
    }
    .header-main {
        width: 100%;
        padding: 20px 0;
        float: none;
    }
    .header-items {
        width: 100%;
        float: none;
    }
    .header-item {
        float: left;
        width: 40%;
        padding: 0 5%;
        margin-bottom: 20px;
    }
    .header-item > div{
        //border-left: 10px #eee solid;
        //padding: 10px;
    }
}


.pretty-text {
    padding: 10px;
    margin: 10px;
    line-height: 1.5;
}

.pretty-image {
    float: left;
    height: 20em;
    margin: 10px;
    overflow: hidden;
}

.pretty-image.small {
    height: 10em;
    max-width: 50%;
}

@media (max-width: 650px) {
    .pretty-image {
        height: 10em;
    }
}

.pretty-image > div {
    height: 100%;
    position: relative;
    float: right;
    right: 50%;
}

.pretty-image > div > img {
    border-radius: 4px;
    position: relative;
    right: -50%;
    max-height: 100%;
}
